.main-container{
  width: 95%;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.cards-container{
  width: 95%;
  padding: 30px 20px 30px 30px;
  display: grid;
  grid-gap: 1rem;
  /* background-color: black;
  align-items: center;
  justify-content: space-evenly; */
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.btn{
background-color:#06965c;
border-radius: 10px;
width:auto;
color: #fff;
height:30px;
margin-left: 20px;
}

.card{
  padding: 50px 60px;
  background-color: #06965c;
  color: white;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}

.card:hover{
  background-color: #08b06d;

}

.songcontainer{
display: flex;
flex-direction: row;
background-color: rgba(240, 248, 255, 0.541);
width: 90%;
border-radius:10px;
box-shadow: 0 0 2px rgb(118, 117, 117);
margin:10px 20px;
padding: 10px;
}
.songavatar{
margin:5px 50px;
width: 100px
}
.songdetails{
width: 80%;
display: flex;
flex-direction: row;
margin:5px 50px;
justify-content:space-between;

}
.songaction{
display: flex;
flex-direction: row;
justify-content:space-around;
}
@media (min-width: 600px) {
.cards-container {
  grid-template-columns: repeat(2, 1fr);
}
}
@media (min-width: 900px) {
.cards-container {
  grid-template-columns: repeat(4, 1fr);
}
}
.uploadcontainer{
width: 70%;
height:auto;
margin: 10px 5%;
background-color:#b1b9bc;
border-radius: 20px;
padding: 30px;
display:flex;
flex-direction:column;
align-items:center;

}
.uploadcontainer .form-group{
margin-top:10px;
}
.uploadcontainer .form-group label{
width: 200px;
text-align: left;
margin-right: 10px
}
